################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScriptThis/v17
/.vs/ScriptThis/FileContentIndex
/.vs
